@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/poppins'; /* Default weight (400) */
@import '@fontsource/poppins/400.css'; /* Specific weight */
@import '@fontsource/poppins/700.css'; /* Specific weight (bold) */

@layer utilities {
  /* Custom Scrollbar untuk Webkit (Chrome, Safari) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px; /* Lebar scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #000000; /* Warna background track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff; /* Warna thumb scrollbar */
    border-radius: 10px; /* Membuatnya lebih rounded */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffffff; /* Warna saat hover */
  }
}


body {
  font-family:"Poppins", sans-serif;
  /* background-image: linear-gradient(#ddd0c8, black,#885643); */
  /* background-color: #103f68; */
  background-color: #000000;
  /* background-color: #3d2a21; */
  /* background-color: #06243f; */
}

.wrapper {
  padding: 10px 10%;
}
#card-area {
  padding: 50px 0;
}
.box-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .box-area {
    grid-template-columns: repeat(2, 1fr);
  }
}
.box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
  padding-bottom: 8em;
}
.overlay {
  width: 100%;
  background: linear-gradient(transparent, #1c1c1c 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}
.overlay a {
  margin-top: 10px;
  color: #262626;
  text-decoration: none;
  font-size: 14px;
  background: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
}
.box:hover img {
  transform: scale(1.1);
}

.h-200 {
  height: 55rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar-fixed {
  @apply fixed z-[9999] bg-dark5 bg-opacity-80 backdrop-blur-sm;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

.menu-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.menu-active > span:nth-child(1) {
  @apply rotate-45;
}
.menu-active > span:nth-child(2) {
  @apply scale-0;
}
.menu-active > span:nth-child(3) {
  @apply -rotate-45;
}
